body, html{
    font-family: 'Times New Roman', Times;

    display: flex;
    flex-direction: column;

    height: 100%;
    margin: 0px;
    padding: 0px;
}

footer{
    display: flex;
    justify-content: right;
}

ul{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    color: antiquewhite;

    display: block;
    text-align: center;
    font-size: large;
    text-decoration: none;
    word-wrap: break-word;
    padding: 18.4px;
}

li a:hover{
    background-color: antiquewhite;
    color: rgba(204, 121, 106, 0.596);
}

.top-and-bottom{
    background-color: wheat;
    padding: 10px;
}

.top-and-bottom h1,h3 {
    width: 300px;
    background-color: rgba(188, 143, 143, 0.650);
    padding: 5px;
}

.top-and-bottom h1{
    text-align: right;
}

.top-and-bottom h3{   
    text-align: left;
}

.container{
    flex-grow: 1;

    display: grid;
    column-gap: 50px;
    grid-template-areas:
    "box2 box3 box4 box4"
    "box2 box3 box5 box6"
    "box2 box3 box5 box6";
    grid-template-columns: 10% 30% auto auto;
}

#box2{
    grid-area: box2;
    background-color: rgba(163, 105, 94, 1);
}

#box3{
    grid-area: box3;
    background-color: lavenderblush;
}

#box4{
    grid-area: box4;
    background-color: whitesmoke;

    display: flex;
    justify-content: center;
    height: max-content;
}

#box4 div{
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
}

#box4 img{
    width: 100%;
    height: max-content;
    display: block;
    object-fit: contain;

}

#box5{
    grid-area: box5;
    background-color: seashell;
}

#box6{
    grid-area: box6;
    background-color: lavenderblush;
}
