body{
    background-color: PapayaWhip;
    font-family: 'Times New Roman', Times;

    height: 100vh;
    display: flex;
    flex-direction: column;

    margin: 0px;
    padding: 0px;
}

footer{
    display: flex;
    justify-content: right;
}

ul{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 3px;
}

li a{
    background-color: rgba(163, 105, 94, 0.596);
    color: antiquewhite;

    display: block;
    text-align: center;
    font-size: larger;
    text-decoration: none;
    word-wrap: break-word;
    padding: 18.4px;
}

li a:hover{
    background-color: antiquewhite;
    color: rgba(204, 121, 106, 0.596);
}

#top-anchor{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#bottom-anchor{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.top-and-bottom{
    background-color: NavajoWhite;
    padding: 10px;
}

.top-and-bottom h1,h3 {
    background-color: rgba(188, 143, 143, 0.650);
    width: max-content;
    padding: 5px;
}

.container{
    flex-grow: 1;

    display: grid;
    column-gap: 50px;
    grid-template-areas:
    "box2 box3 box4 box4"
    "box2 box3 box5 box6"
    "box2 box3 box5 box6";
    grid-template-columns: 10% 30% auto auto;
    grid-template-rows: auto auto 33.33%;

    margin: 20px;
}

#box2{
    grid-area: box2;
    border-radius: 10px; 
}

#box3{
    grid-area: box3;
    background-color: PeachPuff;
    border: 1px solid PeachPuff;
    border-radius: 10px;
}

#menu{
    align-self: center;
    background-color: rgba(163, 105, 94, 0.596);
    width: max-content;
}

#box4{
    grid-area: box4;
    background-color: rgba(204, 121, 106, 0.596);
    border: 1px solid rgba(204, 121, 106, 0.596);
    border-radius: 10px; 
}

#box4 img{
    max-width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

#box5{
    grid-area: box5;
    background-color: Moccasin;
    border: 1px solid Moccasin;
    border-radius: 10px;  

    margin-top: 20px;
}

#box6{
    grid-area: box6;
    background-color: Bisque;
    border: 1px solid Bisque;
    border-radius: 10px;  

    margin-top: 20px;
}